<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <h1>Teams</h1>
    <table>

      <% @players.each do |player| %>
      <tr>
      <% if player[1][:team] == @current_team %>
      <td><%=player[0] %></td>
      <td><%=player[1][:position] %></td>
      <% end %>
      <% end %>
    </tr>

    </table>
  </body>
</html>
